.header{
    display:flex;
    position:sticky;
    @include flex(row,center,space-around);
    height:10vh;
    width:100%;
    top:0;
    z-index:1;
    margin:0 auto;
    background-color: map-get($bgcColors, whiteBgc);
    &__logo{
        display:flex;
    }
    &__nav{
        width:40%;
    }
    .nav__list{
        display:flex;
        list-style-type: none;
    }
    .nav__item{
        margin:0 10px;
        &-link{
            text-decoration: none;
            color:map-get($colors,info);
            &:hover{
                color:hsl(0,0%,5%);
            }
        }
    }
    &__log{
        &-link{
            margin-right:20px;
            text-decoration: none;
            color:map-get($colors,info);
        }
        &-btn{
            @include btn();
        }
    }
    .hamburger{
        display:none;
    }
}