.main{
    display:flex;
    @include flex(row,center,space-between);
    min-height:60vh;
    width:100%;
    margin:0 auto 150px;
    &__image{
        animation:moveImage 7s linear infinite;
        img{
            height:400px;
        }
    }
    &__description{
        padding-left:120px;
    }
    &__title{
        position:relative;
        font-size:$fontSize*3;
        color:map-get($colors,headerColor);
        &::before{
            content:'';
            position:absolute;
            top:0;
            left:-5%;
            display:block;
            width:20%;
            height:90%;
            z-index:-1;
            border-top:2px solid #000;
            border-left:2px solid #000;
        }
    }
    &__information{
        width:90%;
        color:map-get($colors,headerInfo);
        font-size:$fontSize;
    }
    &__btn{
        @include btn();
        margin-top:50px;
        padding:15px 60px;
        font-weight:map-get($font-weights,bold);
        a{
            text-decoration:none;
            color:map-get($colors,whitec);
        }
    }
}
@keyframes moveImage{
    0%{
        transform:translateX(0);
    }
    25%{
        transform:translateX(-50px);
    }
    50%{
        transform:translateX(0);
    }
    75%{
        transform:translateX(50px);
    }
    100%{
        transform:translateX(0);
    }
}