.main{
    display:flex;
    @include flex(row,center,space-between);
    min-height:60vh;
    width:100%;
    margin:0 auto 150px;
    &__image{
        img{
            height:400px;
        }
    }
    &__description{
        padding-left:120px;
    }
    &__title{
        font-size:$fontSize*3;
        color:map-get($colors,headerColor);
    }
    &__information{
        width:90%;
        color:map-get($colors,headerInfo);
        font-size:$fontSize;
    }
    &__btn{
        @include btn();
        margin-top:50px;
        padding:15px 60px;
        font-weight:map-get($font-weights,bold);
        a{
            text-decoration:none;
            color:map-get($colors,whitec);
        }
    }
}