.statistics{
    position:relative;
    min-height:60vh;
    display:flex;
    @include flex(column,center,center);
    background-color: map-get($bgcColors,grays);
    &__description{
        margin-top:100px;
        text-align:center;
    }
    &__title{
        color:map-get($colors,title);
        font-size:$fontSize*2;
    }
    &__information{
        width:80%;
        margin:0 auto;
        color:map-get($colors,info);
    }
    &__container{
        position:relative;
        display:flex;
        @include flex(row,center,space-around);
        width:80%;
        margin:100px 0;
        &::before{
            content:'';
            display:block;
            @include position(absolute,50%,50%);
            transform: translate(-50%,-50%);
            height:7px;
            width:90%;
            background-color: map-get($bgcColors,cyanBgc);
        }
    }
    &__item{
        position:relative;
        width:30%;
        min-height:20vh;
        padding:30px;
        background-color: map-get($bgcColors,whiteBgc);
        border-radius:5px;
        &-title{
            color:map-get($colors,title);
            margin:20px 0;
        }
        &-information{
            color:map-get($colors,info);
        }
        &:nth-child(2){
            margin-top:80px;
        }
        &:nth-child(3){
            margin-top:130px;
        }
        &-image{
            @include position(absolute,-10%,15%);
            display:flex;
            @include flex(row,center,center);
            height:60px;
            width:60px;
            background-color: map-get($bgcColors,darkVioletBgc);
            border-radius:50%;
            img{
                height:50%;
            }
        }
    }
    &__shortener{
        display:flex;
        @include position(absolute,0,50%);
        @include flex(column,center,center);
        min-height:15vh;
        width:60%;
        transform:translate(-50%,-50%);
        background-image:url("../../images/bg-shorten-desktop.svg");
        background-color: map-get($bgcColors,darkVioletBgc);
        background-size: cover;
        border-radius:5px;
        box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
        animation:zoomIn 4s linear infinite;
        .shortener__form{
            display:flex;
            width:80%;
            &-input{
                width:70%;
                padding:10px 20px;
                border-radius:5px;
                border:none;
            }
            &-btn{
                @include btn();
                margin-left:10px;
                border-radius:5px;
            }
        }
        &-error{
            position:relative;
            bottom:0;
            color:map-get($colors,error);
            font-size:12px;
            display:none;
        }
    }

    &__api{
        position:relative;
        margin-top:100px;
        width:60%;
        &-result{
            display:flex;
            @include flex(row,center,space-around);
            min-height:10vh;
            margin-bottom:15px;
            background-color: map-get($bgcColors,whiteBgc);
            border-radius:5px;
        }
        &-url{
            padding-left:50px;
            width:50%;
        }
        &-shorturl{
            text-decoration: none;
            color:map-get($colors,url);
        }
        &-btn{
            @include btn();
            border-radius:5px;
            margin-right:10px;
        }
    }
}
@keyframes zoomIn{
    0%{
        transform: translate(-50%,-50%) scale(1);
    }
    50%{
        transform:translate(-50%,-50%) scale(1.05);
    }
    100%{
        transform:translate(-50%,-50%) scale(1);
    }
}