@import 'config';
@import 'wrapper';
@import 'header';
@import 'mainH';
@import 'statistics';
@import 'reater';
@import 'footer';

@media (max-width:1024px){
    .main{
        flex-direction:column;
        &__image{
            order:-1;
        }
        &__description{
            text-align:center;
            padding-left:0;
            width:70%;
        }
    }
}
@media(max-width:868px){
    .header{
        justify-content: space-between;
    }
    .header__logo{
        margin-left:50px;
    }
    .header .hamburger{
        display:block;
        border:none;
        background-color: transparent;
        margin-right:50px;
        outline: none;
        cursor:pointer;
    }
    .header__nav{
        display:none;
        position:absolute;
        top:10vh;
        left:0;
        width:100%;
        z-index:1;
        height:15vh;
        background-color: #1c1641;
    }
    .header__nav .nav__list{
        flex-direction: column;
        align-items:stretch;
        justify-content: center;
        height:100%;
        z-index:1;
    }
    .header__nav .nav__item{
        height:10vh;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .main__description{
        width:80%;
    }
    .main__image img{
        height:250px;
    }
    .main__title{
        font-size:36px;
    }
    .main__btn{
        margin:30px 0;
    }
    .header__nav{
        display:none;
    }
    .header__log{
        display:none;
    }
    .shortener__form{
        flex-direction: column;
        padding:10px 0;
    }
    .statistics__shortener .shortener__form-input{
        width:100%;
        margin-bottom:20px;
    }
    .statistics__shortener .shortener__form-btn{
        margin-left:0;
    }
    .statistics__container::before{
        height:90%;
        width:7px;
    }
    .statistics__item-image{
        left:50%;
        transform:translateX(-50%);
    }
    .statistics__container{
        flex-direction: column;
    }
    .statistics__item{
        width:90%;
        text-align: center;
    }
    .statistics__api-result{
        flex-direction:column;
    }
    .statistics__api-url{
        padding-left:0;
        text-align:center;
    }
    .statistics__api-btn{
        margin:10px 0;
    }
    .reater__title{
        font-size:30px;
    }
    .reater__btn{
        margin-top:20px;
    }
    .footer{
        padding:50px 20px;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        grid-row-gap:20px;
        &__socials{
            grid-row:10/11;
            grid-column:1/2;
        }
        &__company{
            grid-row:5/6;
            grid-column:1/2;

        }
        &__resources{
            grid-row:4/5;
            grid-column:1/2;

        }
        &__features{
            grid-row:3/4;
            grid-column:1/2;

        }
    }
}
@media (max-width:414px){
    .reater{
        background-image: url("../../images/bg-boost-mobile.svg");
    }
    .statistics__api{
        width:90%;
    }
    .statistics__shortener{
        width:90%;
        min-height:25vh;
    }
    .statistics__shortener .shortener__form-error{
        left:50%;
    }
}